.welcome {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-image: url('../img/Loading.gif');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

.welcome input {
    height: 56px;
    width: 68%;
    border-radius: 2px;
    border: none;
    padding-left: 10px;
    font-size: 15px;
    transform: translate(0px, -145px);
    background-color: rgba(255, 255, 255, 0.5);
}

.welcome .next {
    position: absolute;
    bottom: 6px;
    right: 30px;
}

.logo {
    font-size: 32px;
    transform: translate(0px, -195px);
}

.promise-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #bebebe;
}

.welcome .next {
    position: absolute;
    bottom: 6px;
    right: 30px;
}

.promise-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #bebebe;
}

.promise-content input {
    width: 70%;
    height: 34px;
}

.promise-content .options {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

.promise-content .options .button {
    width: 72%;
    height: 34px;
    text-align: center;
    background-color: #2d8cf0;
    color: #fff;
}
